<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.techinnovation.nigerianbankcodes">

    <uses-permission android:name="com.google.android.gms.permission.AD_ID" />
    <application
        android:name=".Models.MyApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ussdcode"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ussdcode"
        android:supportsRtl="true"
        android:theme="@style/Theme.NigerianBankCodes"
        tools:replace="android:fullBackupContent"
        tools:targetApi="33">

        <activity
            android:name=".Activites.SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".Activites.Webviewprivacy"
            android:exported="false" />
        <activity
            android:name=".Activites.CodeDetailAct"
            android:exported="false" />
        <activity
            android:name=".Activites.DetailActivity"
            android:exported="false" />
        <activity
            android:name=".Activites.MainActivity"
            android:exported="false">

        </activity>

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/app_id" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="com.facebook.sdk.AutoInitEnabled"
            android:value="true" />
        <meta-data
            android:name="com.facebook.sdk.AutoLogAppEventsEnabled"
            android:value="true" />
        <meta-data
            android:name="com.facebook.sdk.AdvertiserIDCollectionEnabled"
            android:value="true" />
    </application>

</manifest>